body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
}
.signup-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 50px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .signup-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form label {
    display: block;
    margin: 10px 0 5px;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="password"],
  form input[type="date"] {
    width: 95%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  form input[type="radio"],
  form input[type="checkbox"] {
    margin-right: 5px;
    cursor: pointer;
  }
  
  form button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 500;
  }